body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6f43e7;
    background-color: #b5b5fa;
};
.img-repnsive{
    width: 30;
    height: 30px;
    box-shadow: 5px 5px 18px white;
    border: 2px solid #c383ff;
}